@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-light-background text-light-text;
  transition: background-color 0.3s ease, color 0.3s ease;
}

html.dark body {
  @apply bg-dark-background text-dark-text;
}

html {
  --line-color: theme('colors.light.primary');
}

html.dark {
  --line-color: theme('colors.dark.primary');
}

.borderBlack {
  @apply border border-black/10 dark:border-white/10;
}

.vertical-timeline {
  padding: 0 !important;
}

.particles-section {
  position: relative;
  overflow: hidden;
}

#tsparticles {
  z-index: -1;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 100% !important;
}